* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial;
	font-size: 14px;
	line-height: 20px;
	color: #000;
	background: #dedede;
}
.fix {
	overflow: hidden;
}
header {
	overflow: hidden;
}
#wrapper {
	width: 960px;
	margin: 0 auto;
	display: block;
	background: white;
}
.slider {
	width: 960px;
	height: 383px;
	background: url('images/slider.jpg') no-repeat;
}
 .text {
	margin: 60px 20px 0 450px;
	width: 410px;
}
.text h2 {
	font-size: 30;
	margin-bottom: 30px;
	margin-top: 10px;
}
.text p {
	font-weight: bold;
}
.text button {
	width: 310px;
	height: 60px;
	border-radius: 30px;
	background:linear-gradient(#BCCF01,#89A900);
	color: white;
	font-weight: bold;
	font-size: 25px;
	padding:0 40px 0 0;
	border: 5px solid #CFD0A4;
	margin-top:75px; 
}
.box {
	position: absolute;
	float: right;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 20px solid white;
	border-bottom: 10px solid transparent;
	margin: -22px 0 0 258px;
}
.text p:nth-child(4) {
	font-size: 9px;
	margin-top: 10px;
	margin-left: 10px;
}
.partner {
	margin-top: 10px;
}
.partner p {
	color: #989898;
	margin-left: 30px;
}
.partner section {
	float: left;
	margin: 5px;
	padding: 5px;
}
.section {
	margin-left: 30px;
}
.content {
	margin-left: 30px;
}
.content_left {
	width:530px;
	height:250px;
	float: left;
	margin-right: 60px;
}
.content_left h2 {
	color: #006995;
	margin-bottom: 10px;
}
.content_left p {
	margin-top: 10px;
}
.content_left p:nth-child(3) {
	color: #92929C
}
.content_left p:nth-child(4) {
	color: #92929C;
}
.content_right {
	width: 260px;
	height: 200px;
	background: #E5EEF5;
	padding: 10px;
	color: #92929C;
	border-radius: 5px;
	margin-bottom: 50px;
}
.content_right h2 {
	color: #006995;
	margin-bottom: 10px;
}
.content_right p {
}
.border { 
	border-top: 1px solid #92929C;
	width: 870px;
}
.content_down {
	margin-top: 20px;
}
.comment section {
	width:320px;
	margin-right:130px;
	float: left;
}
.comment section img {
	float: left;
	margin: 10px;
}
.comment section p {
	margin-top: 8px;
	float: right;
	width:220px;
	color: #92929C;
	font-style: italic;
}
.comment a {
	color: #5E6055;
	text-decoration: underline;
}
.footer {
	background: #007098;
	height: 200px;
	margin-top: 30px;
}
.middle {
	width: 400px;
	padding: 50px 300px;
}
.middle p {
	color: white;
}
.middle p:nth-child(1) {
	font-size: 17px;
	font-weight: bold;
}
.middle p:nth-child(6) {
	font-weight: bold;
	font-size: 12px;
}
.middle img {
	height: 40px;
	margin:5px 5px 50px 5px;
}